{
  "workerId": "",
  "workerType": "http|rabbit|rabbit_v1|standalone",
  "accessToken": "",
  "logDest": "fs|cs",
  "rabbitmqConnectionString": "",
  "jobDir": "./dist/jobs/",
  "puppeteerLaunchOption": {
    "headless": false,
    "slowMo": 10,
    "defaultViewport": null,
    "executablePath": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
  },
  "httpWorkerPullConfigUrl": "",
  "amqpEncryptionKey": ""
}